*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    border:2px solid red;
    /* display: grid;
     */
    display: grid;
    grid-template-columns:100px 100px 100px;
    justify-content: space-between;
    grid-template-rows:auto;
}

.box{
    border:2px solid green;
    padding: 12px;
}
